* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* h1 {
  padding: 30px;
  background-color: rgb(21, 210, 217);
  text-align: center;
} */

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 15px;
}
.product {
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.oldPrice {
  text-decoration: line-through;
}
.product-price {
  text-align: center;
  margin-bottom: 30px;
}

.product-description {
  font-style: italic;
  text-align: justify;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: rgb(44, 42, 42);
  color: white;
}

.btn,
.count {
  background-color: rgb(30, 200, 200);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  scale: 1.1;
}
.count:hover {
  scale: 1.1;
}

.section {
  display: flex;
  gap: 40px;
  text-decoration: none;
  list-style-type: none;
  font-size: 25px;
  padding: 30px;
  cursor: pointer;
}

.section > li {
  border-radius: 4px;
}

.section > li:hover {
  text-decoration: underline;
  scale: 1.1;
}
