* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: black;
}

.headline {
  color: white;

  padding-left: 155px;
  padding-top: 150px;
  font-size: 35px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  color: white;
  font-size: 28px;
}

span {
  color: #e32020;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 40px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #e32020;
  transition: 0.3s;
}

button {
  border: none;
  background: #e32020;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: 15px;
  transition: 0.4s;
}

button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  padding: 10px 50px;
  background-color: #e32020;
}
footer a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
}

.services {
  color: white;
  text-align: center;
  padding-top: 60px;
  font-size: 30px;
}

.contact,
.aboutus,
.mern,
.flutter,
.devops {
  color: white;

  padding-left: 100px;
  padding-top: 50px;
  font-size: 30px;
}

.courses h1 {
  font-size: 30px;
  color: white;
  padding-left: 100px;
  padding-top: 50px;
}

.courses ul li a {
  font-size: 20px;
  color: white;
  padding-left: 100px;
  padding-top: 50px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.courses ul li a:hover {
  color: #e32020;
  transition: 0.3s;
}

.heroimg {
  height: 40px;
  width: 40px;
}
